# Configurações do Banco de Dados MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=songify
MYSQL_USER=songify_user
MYSQL_PASSWORD=songify_pass
DB_PORT=3306
PORT=3001
JWT_SECRET=seu_jwt_secret_super_seguro_aqui
DATABASE_URL="mysql://songify_user:songify_pass@db:3306/songify"
